/* Reset de estilos padrão do body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9dfe6;
    /* Cor de fundo global */
    overflow-x: hidden;
    /* Impede a exibição da barra de rolagem horizontal */
    transition: background-color 0.5s;

}

/* Estilos do cabeçalho */
header {
    padding-top: 18px;
    background-color: #c9dfe6;
    /* Cor de fundo do cabeçalho no tema claro */
    color: white;
    /* Cor do texto do cabeçalho no tema claro */
    text-align: center;
    font-size: 17px;
    padding-bottom: 3px;
}

/* Estilos da seção principal */
section {
    color: white;
    align-items: center;
    max-width: 800px;
    /* Largura máxima da seção */
    margin: 4em auto;
    /* Aumentada a margem superior para evitar que o rodapé tampe o conteúdo */
    padding: 2em;
    /* Espaçamento interno */
    background-color: #8d9da1;
    /* Cor de fundo da seção */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.2);
    /* Sombra com efeito de elevação e sombra na parte inferior direita */
    border-radius: 12px;
    /* Borda arredondada */
    text-align: center;
}

/* Estilos para os cabeçalhos h1 e h2 */
h1 {
    background: linear-gradient(to right, #cc00ff, #0077ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveGradient 5s infinite linear;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

h2 {
    color: #ffffff;
    /* Cor do texto h2 */
}

/* Estilos para os botões */
button {
    padding: 0.7em 1.5em;
    /* Espaçamento interno */
    font-size: 1em;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Cursor interativo */
    background-color: #4400ff;
    /* Cor de fundo do botão */
    color: white;
    /* Cor do texto do botão */
    border: none;
    /* Sem borda */
    border-radius: 9px;
    /* Borda arredondada */
    transition: background-color 0.3s ease;
    /* Transição suave na mudança de cor de fundo */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilos de hover para os botões */
button:hover {
    background-color: rgb(120, 172, 233);
    color: black;
    /* Cor de fundo alterada ao passar o mouse */
}

/* Estilos específicos para o elemento com id "wordOfDay" */
#wordOfDay {
    font-size: 1.5em;
    /* Tamanho da fonte */
    margin-bottom: 1em;
    /* Margem inferior */
}

/* Estilos específicos para os elementos com id "significado" e "substituicao" */
#significado,
#substituicao {
    margin-top: 1em;
    /* Margem superior */
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 0.2em;
    background-color: #c9dfe6;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-top: 2em;
    /* Adicionada a margem superior */
    z-index: 1000;
    /* Adicionado z-index para garantir que o rodapé fique acima do conteúdo */
}

/* Estilos para links */
a {
    text-decoration: none;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    color: #000;
    transition: color 0.3s ease;
}

a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    /* Alterado para começar no início do texto */
    bottom: -5px;
    width: 100%;
    /* Ajustado para cobrir toda a largura do texto */
    height: 3px;
    background: linear-gradient(to right, #cc00ff, #0077ff);
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 0.3s ease;
}

a:hover {
    color: #0400ff;
}

a:hover::after {
    transform: scaleX(1);
}

/* Estilos para o menu de navegação */
nav {
    background-color: #8d9da1;
    padding: 1em;
    text-align: center;
    margin-top: 9.5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /* Ocupa toda a largura disponível */
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* Estilos para a seção "Sobre Nós" */
.about {
    background-color: #8d9da1;
    padding: 2em;
    margin-top: 2em;
    border-radius: 12px;
}

/* Estilos para a seção de Contato */
.contact {
    background-color: #8d9da1;
    padding: em;
    margin-top: 2em;
    border-radius: 12px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    /* Adicionada a margem inferior para afastar do rodapé */
}

/* Estilos para a seção de Recursos */
section img {
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    margin-top: 1em;
}

/* Ajustes para melhorar a acessibilidade */
button,
a {
    outline: none;
}

/* Estilos para a animação no cabeçalho h1 */
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Estilos para a animação no rodapé */
a:hover::after {
    transform: scaleX(1);
    /* Aumenta a largura da barra ao passar o mouse */
}

.titulo-header {
    font-size: 35px;
    padding-bottom: 5px;
}

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme header {
    color: #ffffff;
    /* Cor do texto do cabeçalho no tema escuro */
}

.dark-theme .titulo-header {
    color: #ffffff;
    /* Cor do texto .titulo-header no tema escuro */
}

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme nav {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme nav ul {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme nav li {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme nav a {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme section {
    background-color: #000000;
    color: #ffffff;
}

.dark-theme footer {
    background-color: #000000;
    color: #ffffff;
}

.dark-theme footer a {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme a {

    color: #ffffff;
}

.dark-theme {

    color: #ffffff;
}

/* Estilos do ícone de alternar tema */
.theme-icon {
    font-size: 30px;
    /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Estilos do ícone de alternar tema no tema escuro */
.dark-theme .theme-icon {
    color: #ffffff;
}

/* Adicione esta classe para girar a animação do ícone */
.rotate-icon {
    transition: transform 0.5s ease;
}

/* Restante do seu código CSS */

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme .rotate-icon {
    transform: rotate(360deg);
    /* Rotaciona o ícone quando está no tema escuro */
}

/* Adicione estilos para o ícone do sol */
.sun-icon {
    background: url('caminho/para/o/icone-do-sol.png') no-repeat center center;
    width: 24px;
    /* Ajuste conforme necessário */
    height: 24px;
    /* Ajuste conforme necessário */
    background-size: cover;
    transition: transform 0.5s ease;
}

/* Restante do seu código CSS */

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme .sun-icon {
    transform: rotate(360deg);
    /* Rotaciona o ícone quando está no tema escuro */
}

/* Estilos do ícone de alternar tema */
.theme-icon {
    font-size: 30px;
    /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Estilos do ícone de alternar tema no tema escuro */
.dark-theme .theme-icon {
    color: #ffffff;
    transform: rotate(360deg);
    /* Rotaciona o ícone quando está no tema escuro */
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #70515100;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    /* Permite redimensionamento vertical */
    min-height: 100px;
    /* Tamanho mínimo de altura em pixels (ajuste conforme necessário) */
    font-size: 15px;
}


input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input[type="submit"] {
    background-color: #4400ff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6e9fd3;
    color: #000;
}

#charCount {
    font-weight: bold;
    color: #ffffff;
    font-size: 17px;
    margin-top: 4px;
    padding-bottom: 7px;
}